<!DOCTYPE html>
<html lang="{{ constant('WEBSITE_LANGUAGE')}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="CSS/style.css">
		<title>{{ constant('WEBSITE_TITLE')}}</title>
        <link rel="icon" sizes="16x16" href="images/favicon-16x16.png">
        <link rel="icon" sizes="32x32" href="images/favicon-32x32.png">
		<style>
			html,
			body {
				overflow-x: hidden; /* Empêche le scroll horizontal */
				margin: 0; /* Retirer toute marge par défaut */
				font-family: 'Montserrat', sans-serif;
			}
		</style>
	</head>
	<body class="d-flex flex-column min-vh-100 bg-mylight">
    <header>

    </header>


		{% block content %}{% endblock %}

		<footer>

		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> 
	</body>
</html>
