{% extends 'base_template.html.twig' %}

{% block content %}
	<div class="container d-flex justify-content-center align-items-center min-vh-100">
		<div class="card shadow p-4 text-center">
			<h1 class="mb-4">Êtes-vous un robot ?</h1>
			<div
				class="d-flex justify-content-center gap-3 position-relative">
				<!-- Bouton Oui -->
				<a class="btn btn-danger btn-lg" href="index.php?controller=captcha&methode=jouerAsteroids">Oui</a>

				<!-- Conteneur pour le bouton avec l'image -->
				<div class="position-relative" id="btnContainer">
					<a href="index.php?controller=captcha&methode=FctDegueulasse">
						<img src="images/toHideLogo" id="hiddenLogo" alt="Logo" class="position-absolute start-0 top-0 w-100 h-100" style="z-index: 0; object-fit: cover; border-radius: 5px;">
					</a>
					<button class="btn btn-success btn-lg position-relative" id="btnOfficieux" style="z-index: 1;">Non</a>
				</div>

				<!-- Bouton Non officiel -->
				<a class="btn btn-success btn-lg d-none" id="btnOfficiel" href="index.php?controller=captcha&methode=jouerMorpion">Non</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="js/captcha.js"></script>
{% endblock %}
