{% extends 'base_template.html.twig' %}


{% block content %}
	<main class="container">
		<div class=" d-flex row my-auto flex-grow-1 " style="height: 100vh;">
			<div class="col ">

				<h2 class="text-center mb-5">Le bras</h2>
				<li class="text-justify">Composé d'os (humérus, radius, cubitus), de muscles, de tendons et d'articulations, le bras est une partie tangible et définie du corps.</li>
				<li class="text-justify">Permet la préhension, le déplacement, le geste, et le soutien physique.</li>
				<li class="text-justify">Contrôlé par des impulsions nerveuses envoyées par le cerveau, les mouvements du bras sont intentionnels et précis.</li>
				<li class="text-justify">Le bras peut interagir directement avec l'environnement en attrapant ou en manipulant des objets.</li>
				<li class="text-justify">Associé à l'action, la force, et le lien avec les autres (poignées de main, câlins).</li>
				<image src="images/bras.png" alt="bras" class="w-75 mx-auto pt-5"></image>
		</div>
		<div class="" style="background-color: black; width: 1px; padding:1px; "></div>

		<div class="col">
			<h2 class="text-center mb-5">Les vagues</h2>
			<ul class="ml-2">
				<li class="text-justify">Les vagues ne sont pas des objets physiques solides mais le résultat du mouvement de l'eau sous l'effet de forces (vent, gravité, marées).</li>
				<li class="text-justify">Transportent l'énergie à travers l'eau, influencent les écosystèmes côtiers, et participent à l'érosion ou au dépôt de sédiments.</li>
				<li class="text-justify">suivent un modèle répétitif et rythmique, sans direction intentionnelle, mais sont dictées par des forces naturelles.</li>
				<li class="text-justify">Elles affectent leur environnement de manière indirecte, par leur énergie et leur force, en sculptant les côtes ou en dispersant des nutriments.</li>
				<li class="text-justify">Associées au flux naturel, à la puissance imprévisible, et au rythme constant de la nature.</li>
			</ul>
			<image src="images/vagues.png" alt="vagues" class="mx-auto"></image>
	</div>
</div></main>{% endblock %}
