{% extends 'base_template.html.twig' %}

{% block content %}
	<main class="container">
		<div class="d-flex row my-auto flex-grow-1">
			<div class="col">
				<h2 class="text-center mb-5">Le cerveau</h2>
				<p class="text-justify">
					Le cerveau est l'organe le plus important et le plus complexe du corps humain. Il joue un rôle central dans la coordination et le fonctionnement de l'ensemble de l'organisme. Agissant comme un véritable centre de commande, il permet de connecter les différentes parties du corps entre elles et de les faire fonctionner de manière harmonieuse. Grâce au réseau de nerfs qu'il contrôle, le cerveau transmet des signaux électriques qui régulent des fonctions essentielles telles que les battements du cœur, la respiration, le mouvement, et même des actions automatiques comme le clignement des yeux. De plus, il est le siège de nos pensées, de nos émotions, de notre mémoire et de notre conscience, ce qui en fait l'élément clé de notre individualité et de notre interaction avec le monde qui nous entoure.
				</p>
				<div>
					<img src="images/Cerebral_lobes.webp" alt="cerveau" class="img-fluid mx-auto d-block" style="max-width: 80%;">
				</div>
			</div>

			<div class="" style="background-color: black; width: 1px; padding:1px;"></div>

			<div class="col">
				<h2 class="text-center mb-5">La biodiversité marine</h2>
				<p class="text-justify">
					La biodiversité marine joue un rôle tout aussi crucial dans l'équilibre de l'écosystème terrestre. Tout comme le cerveau connecte et coordonne les différentes parties du corps pour assurer leur bon fonctionnement, la biodiversité marine relie les espèces et les écosystèmes sous-marins, créant un réseau interconnecté où chaque élément joue un rôle vital. Les différents organismes marins, des micro-organismes aux grands prédateurs, agissent comme les cellules ou les neurones du cerveau. Chacun contribue à maintenir l'équilibre global de l'océan, en régulant des processus fondamentaux comme la production d'oxygène, le stockage de carbone et le cycle des nutriments. De la même manière que le cerveau s'adapte et évolue face aux stimuli, les écosystèmes marins s'ajustent et se transforment pour survivre à des changements environnementaux, qu'ils soient naturels ou causés par l'activité humaine.
				</p>
				<div>
					<img src="images/diagramme-educatif-zonage-cotes-rocheuses_1308-126845.webp" alt="biodiversité" class="img-fluid mx-auto d-block" style="max-width: 80%;">
				</div>
			</div>
		</div>
	</main>
{% endblock %}
