 {% extends 'base_template.html.twig' %}
 
 
 {% block content %}
    <main class="container">
    <div class=" d-flex row my-auto flex-grow-1 " style="height: 100vh;" >
			<div class="col "> 
                
        <h2 class="text-center mb-5">Le coeur</h2>
				<p class="text-justify">Le cœur humain, avec son battement régulier et vital, symbolise le moteur de la vie. Il assure la circulation sanguine et soutient l’équilibre de l’organisme. Sur le plan symbolique, il représente les émotions profondes telles que l’amour, la passion ou la douleur. Les tumultes émotionnels humains, comme les moments de joie intense ou de tristesse profonde, sont souvent comparés à des tempêtes qui secouent le cœur. De plus, il est sensible aux déséquilibres physiques ou psychologiques, mettant en avant sa fragilité et son interdépendance avec l’environnement intérieur et extérieur.</p>
        <image src="images/coeur.png" alt="coeur"   class ="mx-5 w-75" ></image>
			</div>
            <div class="" style="background-color: black; width: 1px; padding:1px; "></div>
			
			<div   class="col">
				<h2 class="text-center mb-5">Les émotions marine</h2>
                
        <p class="text-justify">L’océan, par son mouvement perpétuel de vagues et de marées, est un élément clé de la régulation des cycles naturels et de la vie sur Terre. Il évoque la profondeur, l’infini et l’inconnu, tout en alternant entre des états de calme et de puissance indomptable. Symboliquement, il représente à la fois sérénité et tempête, reflétant les ambivalences de la nature et des émotions humaines. L’océan est également fragile, vulnérable face à la pollution et aux changements climatiques, ce qui rappelle son interdépendance avec l’activité humaine et son rôle crucial dans l’équilibre de la planète. </p>
			  <image src="images/vagueOcean.jpeg" alt="Vague"   class ="mx-5 w-75" ></image>
      </div>
		</div>
    </main>
 
 {% endblock %}