 {% extends 'base_template.html.twig' %}
 
 
 {% block content %}
    <main class="container">
    <div class=" d-flex row my-auto flex-grow-1 " style="height: 100vh;" >
			<div class="col "> 
                
        <h2 class="text-center mb-5">L'estomac</h2>
				<p class="text-justify">L'estomac agit comme une chambre où les aliments sont transformés en une forme assimilable par le corps grâce à des enzymes et des acides. Il décompose les nutriments pour qu'ils soient redistribués et utilisés comme énergie ou matériaux de construction pour l'organisme. </p>
        <p class="text-justify">Il digère les matières solides et liquides de manière chimique et mécanique.</p>
        <image src="images/estomac.webp" alt="estomac"   class ="mx-auto" ></image>
			</div>
            <div class="" style="background-color: black; width: 1px; padding:1px; "></div>
			
			<div   class="col">
				<h2 class="text-center mb-5">Les abysses et les sédiments marins</h2>
                
        <p class="text-justify">Les abysses (et les fonds marins en général) sont des zones où les débris organiques et les nutriments provenant de la surface (comme le plancton mort, les carcasses d'animaux) sont "digérés" par des organismes spécifiques (bactéries, micro-organismes). </p>
        <p class="text-justify">Processus : Décomposition biologique et chimique de la matière organique en nutriments essentiels, qui sont ensuite réintégrés dans l'écosystème océanique. C’est un processus similaire à la digestion humaine, mais à l’échelle planétaire.</p>
			  <image src="images/abysses.webp" alt="abysses"  class ="mx-5 w-75" ></image>
      </div>
		</div>
    </main>
 
 {% endblock %}