 {% extends 'base_template.html.twig' %}
 
 
 {% block contante %}
    <main class="container">
    <div class=" d-flex row my-auto flex-grow-1 " style="height: 100vh;" >
			<div class="col "> 
                
        <h2 class="text-center mb-5"> estomac</h2>
				<p class="text-justify"></p>
        <image src="" alt=""   class ="mx-auto" ></image>
			</div>
            <div class="" style="background-color: black; width: 1px; padding:1px; "></div>
			
			<div   class="col">
				<h2 class="text-center mb-5"></h2>
                
        <p class="text-justify"></p>
			  <image src="" alt=""   class ="mx-auto" ></image>
      </div>
		</div>
    </main>
 
 {% endblock %}