 {% extends 'base_template.html.twig' %}
 
 
 {% block content %}
    <main class="container">
    <div class=" d-flex row my-auto flex-grow-1 " style="height: 100vh;" >
			<div class="col "> 
                
        <h2 class="text-center mb-5">La jambe</h2>
				<p class="text-justify">La jambe symbolise le mouvement, la stabilité et la capacité d’explorer. Elle permet à l’humain de marcher, courir, ou franchir des obstacles, devenant ainsi un outil essentiel pour découvrir de nouveaux horizons. Elle représente également la force et l’équilibre, indispensables pour avancer dans les moments de défis. Une jambe robuste est le pilier du déplacement physique, supportant le poids du corps et aidant à progresser dans toutes les aventures.</p>
        <image src="images/jambe.jpg" alt="jambe"   class ="mx-5 w-75" ></image>
			</div>
            <div class="" style="background-color: black; width: 1px; padding:1px; "></div>
			
			<div   class="col">
				<h2 class="text-center mb-5">L'océan en mouvement</h2>
                
        <p class="text-justify">L’océan incarne un mouvement perpétuel à travers ses vagues et ses courants, transportant vie et énergie sur de vastes distances. Il est à la fois stable, par la régularité de ses marées, et puissant, lorsqu’il déchaîne ses forces naturelles. Symbole d’exploration et de quête d’inconnu, l’océan soutient également les navires et ouvre des voies vers de nouvelles découvertes, jouant un rôle clé dans les voyages et les échanges entre mondes lointains.</p>
			  <image src="images/vagueOcean.jpeg" alt="Bateau"   class ="mx-5 w-75" ></image>
      </div>
		</div>
    </main>
 
 {% endblock %}